/*work sans font from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,800&display=swap');

/*shared styles*/

*{
    font-family: 'Work Sans', sans-serif; 
}

.grey-text{
    color:  #727272;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem; /* 162.5% */
}

.section-title{
    font-size: 2.8rem;
    font-weight: 700;
    color:#131313;
    white-space: nowrap;
}

.btn-primary{
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 0.5rem;
    background: #FF900E;
    padding: 1.31rem 1.5rem 1.25rem 1.56rem;
    border:none;
    cursor: pointer;    /*cursor turns into a hand when hovering the button*/
}

/*header styles*/
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 3rem 15rem;
}

nav{
    display:flex;
    justify-content: space-between;
    align-items:center;
}



nav>ul{
    display:flex;

}


nav li{
    list-style: none;
    margin-right: 2.25rem;
    white-space: nowrap;
    text-align: center; 
    font-weight: 500;
    font-size: 1rem;
}


nav li a{
    text-decoration: none;
    color: #424242;
}

/*banner styles*/
.banner-content{
    max-width:800px;
    text-align: center;
    margin:0 auto;    /*margin auto korle center e niye ashe?*/
}

.banner-title{
    color: #131313;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
}



.banner img{
    width:100%;
    margin-top:3.12rem;
}

/*main styles*/
main{
    max-width:1440px;
    margin:0 auto;
}

/*teams styles*/
.teams-container{
    display: flex;
    align-items: center;
    gap:4.75rem;
    padding-top:5.31rem;
}

.teams-image-container{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap:1.5rem;
}

.teams-content-title{
    color:#727272;
    font-size: 2.8125rem;
    font-weight: 500;
    margin-bottom: 0;
}

#of-our{
    color:#131313;
    font-size: 2.8125rem;
    font-weight: 700;
}

#feature-text{
    color: #FF900E;
    display:block;
    font-size: 2.8125rem;
    font-weight: 700;
    
}

.teams-content-desc{
    margin-bottom: 2rem;
    text-align: left;
}

/*facts styles*/
.facts-title{
    margin:0;
    margin-top:10.5rem;
    margin-bottom:1.5rem;
}

.facts-desc{
    width: 33.875rem;
    text-align: left;
    margin-bottom:6.26rem;
}

.facts-card-container>.card{
    width: 15.11444rem;
    height: 15.11444rem;
    border-radius: 0.5rem;
    border: 1px solid #FF900E;
}

.facts-card-container .card-image{
     margin: 2.87rem 6.17rem 0.62rem 6.12rem; 
}

.facts-card-container .card-stats{
    font-weight: 600;
    text-align: center;
    margin:0;
    margin-bottom:0.31rem;
}

.facts-card-container .card-title{
    color: #727272;
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
    margin:0;
    margin-bottom:3.73rem;
}
    

.facts-card-container{
    display: flex;
    gap:7.76rem;
    margin-left: 1rem;
    
}

/*sponsors styles*/
.sponsors{

}

.sponsor-title{
    margin-top:11.26rem;
    margin-bottom:1.5rem;
    text-align:center;
}

.sponsor-desc{
    width: 33.875rem;
    line-height: 1.625rem;
    margin:0 auto;
}

.sponsors-image-container{
    display:flex;
    filter: grayscale(100%);
    justify-content: space-evenly;
    margin-top:3.13rem;
    margin-bottom:8.12rem;
}

.sponsors-image-container img{
    width:11rem;
    height:3.125rem;
}

/*footer styles*/
footer{
    max-width:1440px;
    margin:0 auto;
    border-radius: 0.5rem;
    background: #FFF4E7;
    text-align: center;
    padding-top:2.44rem;
    padding-bottom: 2.38rem;
    
}

.footer-text{
    margin:0;
}

/*responsive styles*/

/*for mobile devices: ~576px*/
@media screen and (max-width:576px){
    header{
        padding: 1rem;
    }

    nav{
        flex-direction: column;
        gap:1rem;
    }

    .teams-container{
        flex-direction: column;
        margin:1rem auto;
        padding:0;
    }

    .teams-image-container{
        grid-template-columns: repeat(1,1fr);
           
    }

    .facts-title{
        margin-top: 3rem;
        text-align: center;
    }
    
    .facts-desc{
        width:100%;
        margin-bottom: 2rem;
    }

    .facts-card-container{
        flex-direction: column;
        align-items: center;
        gap:2rem;
    }

    .sponsor-desc{
        width:auto;
    }
    
    .sponsors-image-container{
        flex-direction: column;
        align-items: center;
        gap:2rem;
    }


}

/*for medium devices ie.tablets: 576px~960px*/
@media screen and (min-width: 576px) and (max-width:960px){
    header{
        padding: 1rem;
    }
    
    nav{
        flex-direction: column;
    }

    .teams-container{
        flex-direction: column-reverse;
    }

    .teams-content{
        text-align: center;
    }

    .teams-content-desc{
        margin:0 2rem;
        margin-bottom:2rem;
        margin-top:2rem;
    }

    .facts-title{
        margin-top: 3rem;
        text-align: center;
    }

    .facts-desc{
        width:100%;
        text-align: center;
        margin-bottom: 2rem;
    }
    
    .facts-card-container{
        flex-wrap: wrap;
        margin-left:8.5rem;
        gap:2rem;
    }

    .sponsors-image-container{
        gap:3rem;
        flex-wrap:wrap;
    }



}