/*work sans font from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,800&display=swap');

/*shared styles*/

*{
    font-family: 'Work Sans', sans-serif; 
}

.grey-text{
    color:  #727272;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem; /* 162.5% */
}

.btn-primary{
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 0.5rem;
    background: #FF900E;
    padding: 1.31rem 1.5rem 1.25rem 1.56rem;
    border:none;
    cursor: pointer;    /*cursor turns into a hand when hovering the button*/
}

/*header styles*/
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 3rem 15rem;
}

nav{
    display:flex;
    justify-content: space-between;
    align-items:center;
}

.nav-title{
    font-size: 2.8rem;
    font-weight: 700;
    color:#131313;
    white-space: nowrap;
}

nav>ul{
    display:flex;

}


nav li{
    list-style: none;
    margin-right: 2.25rem;
    white-space: nowrap;
    text-align: center; 
    font-weight: 500;
    font-size: 1rem;
}


nav li a{
    text-decoration: none;
    color: #424242;
}

/*banner styles*/
.banner-content{
    max-width:800px;
    text-align: center;
    margin:0 auto;    /*margin auto korle center e niye ashe?*/
}

.banner-title{
    color: #131313;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
}



.banner img{
    width:100%;
    margin-top:3.12rem;
}

/*main styles*/
main{
    max-width:1440px;
    margin:0 auto;
}

/*teams styles*/
.teams-container{
    display: flex;
    align-items: center;
    gap:4.75rem;
    padding-top:5.31rem;
}

.teams-image-container{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap:1.5rem;
}

.teams-content-title{
    color:#727272;
    font-size: 2.8125rem;
    font-weight: 500;
    margin-bottom: 0;
}

#of-our{
    color:#131313;
    font-size: 2.8125rem;
    font-weight: 700;
}

#feature-text{
    color: #FF900E;
    display:block;
    font-size: 2.8125rem;
    font-weight: 700;
    
}

.teams-content-desc{
    margin-bottom: 2rem;
    text-align: left;
}

/*responsive styles*/

/*for mobile devices: ~576px*/
@media screen and (max-width:576px){
    header{
        padding: 1rem;
    }

    nav{
        flex-direction: column;
    }
}

/*for medium devices ie.tablets: 576px~960px*/
@media screen and (min-width: 576px) and (max-width:960px){
    header{
        padding: 1rem;
    }
    
    nav{
        flex-direction: column;
    }
}